
*{
  color: grey;
  font-family: 'Oswald', sans-serif;

}

body{
  background-image: url("../assets/bg.jpg");
}

a:link{
  text-decoration: none;
}

h2{
  width: 392px;
  padding-left: 8px;
  color: black;

}

h4{
  width: 392px;
  padding-left: 8px;
  padding-bottom: 8px;
}

h5{
  display: inline-block;

}

.pics{
  width: 400px;
  height: 400px;
}

.viewContainer{
  background-color: white;
  width: 400px;
  border-style: solid;
  border-color: white;
  border-width: 20px 20px 1px 20px;
  margin-bottom: 10px;
}

#buttonDiv{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 440px;
}

.buttons{
  width: 33%;
  background-color: #36454F;
  color: grey;
  padding: 10px 0px 10px 0px;
}

#overallContainer{
  display: block;
  margin: auto;
  width: 40%;
}

#metaData{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 440px;

}

#left{
  width: 32%;
  padding-left: 2%;
}

#rando{
  /*padding: 0px, 0px, 0px, 10px;*/
}

#center{
  width: 32%;
}

#right{
  width: 32%;
}

#logo{
  background-color: white;
  width: 440px;
}

#fastenateLogo{
  padding-left: 20px;
}
